# =============================================
# CONFIGURACIÓN DE BASE DE DATOS
# =============================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=luis15924
DB_NAME=occitours

# =============================================
# CONFIGURACIÓN DE JWT
# =============================================
JWT_SECRET=tu_secreto_super_seguro_cambiame_12345
JWT_EXPIRES_IN=5m

# =============================================
# CONFIGURACIÓN DEL SERVIDOR
# =============================================
PORT=3000
NODE_ENV=development
